@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';


@font-face {
    font-family: 'BasierSquare'; 
    src: url('/BasierSquare-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BasierSquare'; 
    src: url('/Basier Square Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BasierSquare'; 
    src: url('/Basier Square Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'BasierSquare'; 
    src: url('/Basier Square Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}


html {

    background-color: var(--color-neutral6);

    font-family: "BasierSquare", sans-serif;
    font-weight: 400;
    font-style: normal;

    @apply text-neutral0;

}    

* {
    -webkit-user-drag: none;
    @apply focus:outline-neutral0;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --color-neutral0: #1F2937;
    --color-neutral1: #9CA3AF;
    --color-neutral2: #D1D5DB;
    --color-neutral3: #E5E7EB;
    --color-neutral4: #ebedf2;
    --color-neutral5: #F3F4F6;
    --color-neutral6: white;

    --color-sat0: #325fcd;
    --color-sat1: #4772de;

    --color-primary0: theme(--color-gray-800);
    --color-primary1: theme(--color-gray-900);

    --color-shadow: oklch(70.7% 0.022 261.325 / 0.1);
    --color-backdrop: oklch(27.8% 0.033 256.848 / 0.2);

}

@layer base {

    .dark {

        --color-neutral0: white;
        --color-neutral1: #78797e;
        --color-neutral2: #393a41;
        --color-neutral3: #2f3037;
        --color-neutral4: #26262c;
        --color-neutral5: #1c1c21;
        --color-neutral6: #131316;

        --color-sat0: #325fcd;
        --color-sat1: #4772de;

        --color-primary0: theme(--color-gray-800);
        --color-primary1: theme(--color-gray-900);

        --color-shadow: transparent;
        --color-backdrop: oklch(27.8% 0.033 256.848 / 0.2);

    }

}
