@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import 'tailwindcss';

html {
    background-color: #f9fafb;

    font-family: "Quicksand", sans-serif;
    font-style: normal;

    @apply text-gray-800;
    @apply font-semibold;
}    

* {
    user-select: none;
    -webkit-user-drag: none;
    @apply focus:outline-yellow-400
}